.DS_Store
pcbs/.DS_Store
pcbs/packages/.DS_Store
schematics/.DS_Store
schematics/footprints/.DS_Store
schematics/symbols/ATSAM3C1U_ADC_10-bit.mksym
schematics/symbols/ATSAM3C1U_ADC_12-bit.mksym
schematics/symbols/ATSAM3C1U_EBI.mksym
schematics/symbols/ATSAM3C1U_FFPI.mksym
schematics/symbols/ATSAM3C1U_HSMCI.mksym
schematics/symbols/ATSAM3C1U_I2C.mksym
schematics/symbols/ATSAM3C1U_IO_A.mksym
schematics/symbols/ATSAM3C1U_IO_B.mksym
schematics/symbols/ATSAM3C1U_JTAG.mksym
schematics/symbols/ATSAM3C1U_NFC.mksym
schematics/symbols/ATSAM3C1U_Oscillators.mksym
schematics/symbols/ATSAM3C1U_Power.mksym
schematics/symbols/ATSAM3C1U_PWM.mksym
schematics/symbols/ATSAM3C1U_Reset.mksym
schematics/symbols/ATSAM3C1U_SMC.mksym
schematics/symbols/ATSAM3C1U_SPI.mksym
schematics/symbols/ATSAM3C1U_SSC.mksym
schematics/symbols/ATSAM3C1U_Timers.mksym
schematics/symbols/ATSAM3C1U_UART.mksym
schematics/symbols/ATSAM3C1U_USART.mksym
schematics/symbols/ATSAM3C1U_USB.mksym
schematics/symbols/ATSAM3C1U_Wakeup.mksym
schematics/symbols/LD1117S33TR.mksym
schematics/symbols/micro-sd.mksym
